.card-container
  = render "users/login-header"
  .card-main

    .progress-bar-contents
      .progress-bar
        .progress-bar__text
          会員登録
        .progress-bar__dot.dot-bars1.red-dot
          ●
          .progress-bar__dot__bars.dot-bar1#red-bar
      .progress-bar
        .progress-bar__text
          電話番号認証
        .progress-bar__dot.dot-bars2.red-dot
          ●
          .progress-bar__dot__bars.dot-bars2#red-bar
      .progress-bar
        .progress-bar__text
          住所入力
        .progress-bar__dot.dot-bar3.red-dot
          ●
          .progress-bar__dot__bars.dot-bars3#red-bar
      .progress-bar
        .progress-bar__text.login-input-credit
          支払い方法
        .progress-bar__dot.dot-bar4.red-dot
          ●
          .progress-bar__dot__bars.dot-bars4
      .progress-bar
        .progress-bar__text
          完了
        .progress-bar__dot.dot-bars5
          ●

    .card-box
      = form_with id: "charge-form", url: "/card", method: :post, local: true do |f|
        %h3.card-box__head 支払い方法
        %section.card-number-box
          %p 
            カード番号
            %span 必須
          = f.text_field :number, class: "input-default",  placeholder: "半角英数のみ",id: "number"
          %ul
            %li 
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2482339763", size: "49x20",alt:"visa"
            %li 
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2482339763", size: "34x20",alt:"master-card"
            %li 
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2482339763", size: "30x20",alt:"saison-card"
            %li 
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2482339763", size: "32x20",alt:"jcb"
            %li 
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2482339763", size: "21x20",alt:"american_express"
            %li 
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2482339763", size: "32x20",alt:"dinersclub"
            %li 
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2482339763", size: "32x20",alt:"discover"

        %section.deadline-box
          %p
            有効期限
            %span 必須
          .select-month
          = f.select :exp_month,[["01"], ["02"], ["03"], ["04"], ["05"], ["06"], ["07"], ["08"], ["09"], ["10"], ["11"], ["12"]], id: "exp_month"
          %span 月
          .select-year
          = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],id: "exp_year"
          %span 年

        %section.security-box
          %p 
            セキュリティーコード
            %span 必須
          = f.text_field :cvc, class: "cvc",  placeholder: "カード背面4桁もしくは3桁の番号",id:"cvc"
          .link-right
            %span.question ?
            =link_to "カード裏面の番号とは？",class:""

        %section.go-to-next-btn
          = f.submit "次へ進む", class:"add-btn",id: "token_submit", type: "submit"

  = render "users/login-footer"